* {
    box-sizing: border-box;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

header {
    height: 50vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-image: url(jellyfish-four.jpg);
    background-attachment: fixed;
    background-position: center bottom;
    
    filter: brightness(80%) saturate(80%);
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #0e1a42;
    color: white;
}

a, li {
    line-height: 1.5em;
    font-size: 1.1em;
    color: white;
    padding: 5px;
}

a:hover, a:focus {
    text-decoration: none;
}

section {
    font-size: 30px;
    padding: 30px;

    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    display: grid;
    grid-template-columns: 3fr 7fr;
    flex-wrap: wrap;
}

section h2 {
    display: flex;
    align-items: center;
}


#class-exercises {
    background-color: #232357;
}

#tutorials {
    background-image: url(jellyfish-one.jpg);
    height: 100vh;
}

#inspiration {
    background-image: url(jellyfish-three.jpg);
    filter: brightness(90%) saturate(80%);
    height: 100vh;
}

