* {
    box-sizing: border-box;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

header {
    text-align: center;
    background-color: #B7CECE;
    padding: 30px;
    color: #1C0F13;
    border: solid;
    border-color: #6E7E85;
    border-width: 15px;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #E2E2E2;
    color: #1C0F13;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
    color: #1C0F13;
}

section {
    font-size: medium;
}
