* {
    box-sizing: border-box;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

header {
    height: 50vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-image: url(jellyfish-four.jpg);
    filter: opacity(80%);
    background-attachment: fixed;
    background-position: center bottom;
    

}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #000D41;
    color: #B2B6C6;
}

a, li {
    line-height: 1.5em;
    font-size: 1.1em;
    color: #AEB2BF;
}

section {
    font-size: large;
    padding: 30px;

    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}




#tutorials {
    color: #AEB2BF;
    text-decoration: white;
    background-image: url(jellyfish-one.jpg);
}

#inspiration {
    background-image: url(jellyfish-three.jpg);
    filter: opacity(80%);
}

